html {
  background-image: url(./images/christian-wiediger-peace-unsplash.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  color: white;
  font-family: "Satisfy", cursive;
  font-size: 40pt;
}

[data-row] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 34px;
  margin: 25px;
  border: 1px solid lightgray;
}

.row {
  z-index: -10;
}

[data-row].red {
  background-color: #f6c5c5;
}

[data-row].yellow {
  background-color: #ffffa9;
}

[data-row].green {
  background-color: #baf6ba;
}

[data-row].blue {
  background-color: aliceblue;
}

.stone {
  z-index: 10;
}

[data-color] {
  width: 25px;
  float: left;
}

[data-color="blue"] {
  height: 34px;
  background-color: rgb(48, 194, 245);
}

[data-color="green"] {
  height: 34px;
  width: 50px;
  background-color: rgb(0, 134, 71);
}

[data-color="red"] {
  height: 34px;
  width: 75px;
  background-color: rgb(255, 1, 67);
}

[data-color="yellow"] {
  height: 34px;
  width: 100px;
  background-color: rgb(255, 255, 10);
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}
